/*
=========================================================
Hero
=========================================================
*/

.gn-hero{
    margin:48px 0 64px;
}

.gn-hero__grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:24px;
}

.gn-hero__main,
.gn-hero__list{
    display:flex;
    flex-direction:column;
}

.gn-hero__list{
    gap:16px;
}

@media (max-width:992px){

    .gn-hero__grid{
        grid-template-columns:1fr;
    }

}